{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="card" id="registration-form">
  <h5 class="card-header">Login Form</h5>
  <div class="card-body">
    <!--Flash Messages -->
    {% for message in  get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
    {{wtf.quick_form(login_form)}}
    <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
  </div>
</div>
{% endblock %}