{% extends 'base.html' %}
{%block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3" id="categories-col">
      {% include 'side-nav.html' %}
    </div>
    <div class="col-md-6">
      {% if pitches%}
        {% for pitch in pitches %}
          <div class="card">
            <h3 class="card-header">{{pitch.pitch}}</h5>
            <div class="card-body">
              <h4>{{pitch.category_id}}</h6>
              <p>{{pitch.content | truncate(100)}}</p>
              <br>
              <small>Category: <a class="article-category" href="{{url_for('main.pitch_category', category = pitch.category)}}">{{pitch.category}}</a></small><br>
              <small>Author: <a class="article-category"
                 href="{{url_for('main.profile', uname= pitch.user.username)}}">{{pitch.user.username}}</a></small><br>
              <small id="post-date">posted on {{pitch.posted_date.strftime('%Y-%m-%d')}}</small><br>
              <div>
                <br>
                <a href="{{url_for('main.new_comment', id = pitch.id)}}">Leave Comments</a></span> 
                <span class="foot" >
                  <a href="">
                    <i class="fa fa-thumbs-up" style="font-size:18px;color: green"></i>
                  </a>0
                </span>
                <span class="foot">
                  <a href="">
                    <i class="fa fa-thumbs-down" style="color:red;"></i>
                  </a>0
                </span>
              </div>
              <hr>
              {% if pitch.user_id == current_user.id %}
              <div id= "interactive-layer">
                <a class="btn btn-secondary btn-sm mt-2 mb-2" href="">Edit</a>
                <button type="button" class="btn btn-danger btn-sm m-1 mb-1"  data-toggle="modal" data-target="#deleteModal">Delete</button>
              </div>
              <br>
              {% endif %}
              <hr>
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% for message in  get_flashed_messages() %}
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
</div>
{% endblock %}