{% extends 'base.html' %}

<!-- Content block -->

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3" id="categories-col">
      {% include 'side-nav.html' %}
    </div>
    <div class="col-md-6"> 
      <h2>New Pitches</h2>
        <div class="row">
          {% for message in  get_flashed_messages() %}
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
          {% for pitch in pitches%}
          <div class="col-md-4">
            <img src="https://source.unsplash.com/125x125/?profile,photo" alt="this image" id="users-profile">
          </div>
          <div class="col-md-8">
            <div class="card">
              <h3 class="card-header">{{pitch.pitch}}</h5>
              <div class="card-body">
                <h4>{{pitch.category_id}}</h6>
                <p>{{pitch.content | truncate(50)}}</p>
                <small><a class="article-readmore" href="{{url_for('main.pitch', id = pitch.id)}}">read more...</a></small><br>
                <br>
                <small>Category: <a class="article-category" href="{{url_for('main.pitch_category', category = pitch.category)}}">
                  {{pitch.category}}</a></small><br>
                <small>Author: <a class="article-category"
                   href="{{url_for('main.profile', uname= pitch.user.username)}}">{{pitch.user.username}}</a></small><br>
                <small id="post-date">posted on {{pitch.posted_date.strftime('%Y-%m-%d')}}</small><br>
                <div>
                  <br>
                  <a href="{{url_for('main.new_comment', id = pitch.id)}}">Leave Comments</a></span> 
                  <span class="foot" >
                    <a href="">
                      <i class="fa fa-thumbs-up" style="font-size:18px;color: green"></i>
                    </a>0
                  </span>
                  <span class="foot">
                    <a href="">
                      <i class="fa fa-thumbs-down" style="color:red;"></i>
                    </a>0
                  </span>
                </div>
                <hr>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
      <h2>Find a Pitch</h2>
      <form>
          <input type="text" name="news_query" placeholder="Search for news" class="form-control">
          <input type="submit"  value="Submit" class="btn btn-primary" style="margin-top: 5px;">
      </form>
    </div>
  </div>
</div>
{% endblock %}