{% extends 'base.html' %}

<!-- Content block -->

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4" id="categories-col">
      <h2>Pitch Categories</h2>
      <ul id="pitch-categories">
        <li><a>All</a></li>
        <li><a>Pitches</a> </li>
        <li><a>Interview Pitches</a></li>
        <li><a>Idea Pitches</a></li>
        <li><a href="{{url_for('main.new_pitch', uname= current_user.username)}}">New Pitch</a></li>
      </ul>
    </div>
    <div class="col-md-6"> 
      <h2>New Pitches</h2>
      <div>
        <div class="row">
          {% for message in  get_flashed_messages() %}
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
          {% if pitches%}
            {% for pitch in pitches%}
            <div class="col-md-4">
              {% if pitch.profile_pic_path %}
              <img src="{{pitch.profile_pic_path}}" alt="" id="users-profile">
              {% else %}
              <img src="{{url_for('static', filename = 'photos/default.png')}}" alt="" id="users-profile">
              {% endif %}
            </div>
            <div class="col-md-8">
              <div class="card">
                <h3 class="card-header">{{pitch.user}}</h5>
                <div class="card-body">
                  <h4>{{pitch.category_id}}</h6>
                  <p>{{pitch.content | truncate(50)}}</p>
                  <small><a class="article-readmore" href="">read more...</a></small>
                  <small id="post-date">posted on {{pitch.posted_date.strftime('%Y-%m-%d')}}</small>
                  <ul id="interactive-layer">
                    <li>Likes</li>
                    <li>Dislikes</li>
                    <li>Comment</li>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              No pitches available
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <h4>Users</h4>
    </div>
  </div>
</div>
{% endblock %}