{% extends 'base.html' %}

<!-- Content block -->

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4" id="categories-col">
      <h2>Pitch Categories</h2>
      <ul id="pitch-categories">
        <li><a>All</a></li>
        <li><a>Pitches</a> </li>
        <li><a>Interview Pitches</a></li>
        <li><a>Idea Pitches</a></li>
        <li><a href="{{url_for('main.new_pitch', uname= current_user.username)}}">New Pitch</a></li>
      </ul>
    </div>
    <div class="col-md-6"> 
      <h2>New Pitches</h2>
      <div>
        <div class="row">
          {% for pitch in pitches.items%}
          <div class="col-md-4">
            <img src="" alt="" id="users-profile">
          </div>
          <div class="col-md-8">
            <div class="card">
              <h3 class="card-header">{{pitch.username}}</h5>
              <div class="card-body">
                <h4>{{pitch.category_id}}</h6>
                <p>{{pitch.content | truncate(50)}}</p>
                <h6 id="post-date">posted on {{pitch.posted_date}}</h6>
                <ul id="interactive-layer">
                  <li>Likes</li>
                  <li>Dislikes</li>
                  <li>Comment</li>
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <h4>Users</h4>
    </div>
  </div>
</div>
{% endblock %}